.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0, 1, 0, 1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.1s cubic-bezier(1, 0, 1, 0);
}

hr {
    background-color: red;
    color: red;
    margin-top: 38px !important;
    margin-bottom: 16px !important;
}
