.mySwiper {
    position: static !important;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 20;
  }
  
  .swiper-pagination-bullet-active {
    background-color: red !important;
  }
  